[Unit]
Description=Configure AP credentials on first boot
Before=hostapd.service dnsmasq.service
After=local-fs.target casanode-unblock-wifi.service
ConditionPathExists=!/etc/casanode_ap_configured

[Service]
Type=oneshot
ExecStart=/usr/local/bin/casanode-firstboot.py

[Install]
WantedBy=multi-user.target
