[Unit]
Description=Unblock Wi-Fi (rfkill), set regdom, bring wlan0 up
After=sys-subsystem-net-devices-wlan0.device
Wants=sys-subsystem-net-devices-wlan0.device network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/casanode-unblock-wifi.sh

[Install]
WantedBy=multi-user.target
